body>header {
    background: #eee;
    padding: 5px;
}

body>header>a>img, body>header ul, body>header ul>li  {
    display: inline-block;
    vertical-align: middle;
}

a>img {
    zoom: 5%;
}

body>footer {
    background: #eee;
    padding: 5px;
    text-align: center;
}

li.info {
    background: #7f7;
}

li.error {
    background: #f77;
}

#logged-in-info {
    float: right;
    display: inline-block;
}

#logged-in-info form {
    display: inline-block;
}

header ul {
    display: inline-block;
    vertical-align: middle;
}

div {
    background-color: #eeeeee;
}

h1 {
    text-align: center;
}

.right {
    float: right;
}

a {
    text-decoration: none;
}

.category {
    height: 55pt;
    margin-bottom: 15pt;
}

footer, .nav {
    margin-top: 55pt;
}

form, .center {
    text-align: center;
}

ul {
    list-style: none;
}